pipeline/Databricks_assessment_debug.json
{
	"name": "Databricks_assessment_debug",
	"properties": {
		"description": "checkin pipeline",
		"activities": [
			{
				"name": "GET TGT HighWaterMark",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/ACSIngest/nb_rawdvr_getHighWaterMark",
					"baseParameters": {
						"tableName": {
							"value": "msa.@{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"defaultHWM": "1970-01-01 00:00:00.000"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricksProd",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HighWaterMark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@if(\n  less(\n    pipeline().parameters.RerunFromDate\n  , formatDateTime(replace(activity('GET TGT HighWaterMark').output.runOutput,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')\n  )\n  , pipeline().parameters.RerunFromDate\n  , formatDateTime(replace(activity('GET TGT HighWaterMark').output.runOutput,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET SRC HighWaterMark",
				"description": "Find the latest change in the Salesforce table indicated by the parameter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set brpExtractFrom",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM  @{pipeline().parameters.sfschemaname}.@{pipeline().parameters.sfTableName}\nWHERE LastModifiedDate >= {ts'@{variables('brpExtractFrom')}'}",
							"type": "Expression"
						},
						"readBehavior": "queryAll"
					},
					"dataset": {
						"referenceName": "ACSDSSF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set brpExtractTo",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET SRC HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractTo",
					"value": {
						"value": "@if(\n  less(\n    pipeline().parameters.RerunToDate\n  , formatDateTime(activity('GET SRC HighWaterMark').output.firstRow.HighWaterMark, 'yyyy-MM-dd HH:mm:ss.fff')\n  )\n  , pipeline().parameters.RerunToDate\n  , formatDateTime(activity('GET SRC HighWaterMark').output.firstRow.HighWaterMark, 'yyyy-MM-dd HH:mm:ss.fff')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set brpExtractTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('brpExtractTo'), variables('brpExtractFrom'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY rawbrp",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CREATE Partition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "SELECT @{pipeline().parameters.ColumnList} FROM @{pipeline().parameters.TableName}\nWHERE LastModifiedDate > {ts'@{variables('brpExtractFrom')}'}\nAND CreatedDate <= {ts'@{variables('brpExtractTo')}'}\n",
										"type": "Expression"
									},
									"readBehavior": "queryAll"
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ACSDSSF",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Avro_newDP",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "CREATE Partition",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set partitionTO",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set partitionFROM",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set partitionMONTH",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set partitionYEAR",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/ACSIngest/nb_rawdvr_addPartition",
								"baseParameters": {
									"tableName": {
										"value": "rawbrp.raw@{pipeline().parameters.TableName}",
										"type": "Expression"
									},
									"paramYEAR": {
										"value": "@variables('partitionYEAR')",
										"type": "Expression"
									},
									"paramMONTH": {
										"value": "@variables('partitionMONTH')",
										"type": "Expression"
									},
									"paramFROM": {
										"value": "@variables('partitionFROM')",
										"type": "Expression"
									},
									"paramTO": {
										"value": "@variables('partitionTO')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricksProd",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set partitionYEAR",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "partitionYEAR",
								"value": {
									"value": "@{formatDateTime(replace(variables('brpExtractTo'),' ','T'), 'yyyy')}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set partitionMONTH",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "partitionMONTH",
								"value": {
									"value": "@{formatDateTime(replace(variables('brpExtractTo'),' ','T'), 'MM')}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set partitionFROM",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "partitionFROM",
								"value": {
									"value": "@{formatDateTime(replace(variables('brpExtractFrom'),' ','T'), 'yyyyMMddHHmmssfff')}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set partitionTO",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "partitionTO",
								"value": {
									"value": "@{formatDateTime(replace(variables('brpExtractTo'),' ','T'), 'yyyyMMddHHmmssfff')}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RerunFromDate": {
				"type": "string",
				"defaultValue": "2199-12-31 00:00:00.000"
			},
			"RerunToDate": {
				"type": "string",
				"defaultValue": "2199-12-31 00:00:00.000"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "assessment"
			},
			"ColumnList": {
				"type": "string",
				"defaultValue": "Id, CreatedDate"
			},
			"sfschemaname": {
				"type": "string",
				"defaultValue": "salesforce"
			},
			"sfTableName": {
				"type": "string",
				"defaultValue": "assessment__c"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String",
				"defaultValue": "2199-12-31 00:00:00"
			},
			"brpExtractTo": {
				"type": "String",
				"defaultValue": "2199-12-31 00:00:00"
			},
			"partitionYEAR": {
				"type": "String"
			},
			"partitionMONTH": {
				"type": "String"
			},
			"partitionFROM": {
				"type": "String"
			},
			"partitionTO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DVR Product Dashboard/98 Common"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-17T23:26:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}