pipeline/Databricks Assessment history Refresh.json
{
	"name": "Databricks Assessment history Refresh",
	"properties": {
		"activities": [
			{
				"name": "GET SRC HighWaterMark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set  brpExtractFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(CreatedDate) AS HighWaterMark\nFROM @{pipeline().parameters.SourceTableName}\nWHERE CreatedDate>= {ts'@{variables('brpExtractFrom')}'}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_databricks_sqlserver",
						"type": "DatasetReference",
						"parameters": {
							"SourceTableName": "@pipeline().parameters.TargetTableName",
							"schemaname": "@pipeline().parameters.schemaname"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_databricks_sqlserver",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GET TGT HWM  SQL",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Membership/getHighWaterMark",
					"baseParameters": {
						"defaultHWM": "1970-01-01 00:00:00.000",
						"tableName": "msa.assessment_history"
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_AzurePOCDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set  brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HWM  SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@activity('GET TGT HWM  SQL').output.runOutput",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set brpExtractTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET SRC HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractTo",
					"value": {
						"value": "@formatDateTime(replace(activity('GET SRC HighWaterMark').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Salesforce object",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set brpExtractTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"parameters": {
			"SourceTableName": {
				"type": "string"
			},
			"TargetTableName": {
				"type": "string"
			},
			"ColumnList": {
				"type": "string"
			},
			"schemaname": {
				"type": "string"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String"
			},
			"brpExtractTo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ACS/Databricks"
		},
		"annotations": []
	}
}