pipeline/pl Canvas Course.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": "Bearer 13129~RukNsJx0ARpUNmQpSv4Thirjmx4UG02owYm63WIfQJDfuYdCZVD2NQruGbOZRgy4 "
						},
						"paginationRules": {
							"MaxRequestNumber": "5"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_canvas",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": {
								"value": "@concat('/api/v1/accounts/', variables('currentSA'),'/courses')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "courses",
							"schemaname": "dbo"
						}
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.subaccount",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Current Variable value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentSA",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			},
			"schemaname": {
				"type": "string"
			},
			"subaccount": {
				"type": "array",
				"defaultValue": [
					1
				]
			}
		},
		"variables": {
			"currentSA": {
				"type": "String",
				"defaultValue": "['']"
			}
		},
		"folder": {
			"name": "ACS"
		},
		"annotations": []
	}
}