pipeline/pl_AnalyticsData.json
{
	"name": "pl_campaignData",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AnalyticsDatafeed",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyToSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "adobe-campaign--datafeed/prod/prod_br",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "TrackingData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQLPOC",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "broadcastingLog"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LogSysRun",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[hco].[create_sys_log]",
						"storedProcedureParameters": {
							"datafactory": {
								"type": "String",
								"value": "@pipeline().DataFactory"
							},
							"pipelineName": {
								"type": "String",
								"value": "@pipeline().Pipeline"
							},
							"RunID": {
								"type": "String",
								"value": "@pipeline().RunId"
							},
							"triggerName": {
								"type": "String",
								"value": "@pipeline().TriggerType"
							},
							"TriggerTime": {
								"type": "String",
								"value": "@pipeline().TriggerName"
							},
							"TriggerType": {
								"type": "String",
								"value": "@pipeline().TriggerTime"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLPOC",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "tracking"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}