pipeline/pl_canvas_UserHistory_iterative.json
{
	"name": "pl_canvas_UserHistory_iterative",
	"properties": {
		"activities": [
			{
				"name": "Lookup find row count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*)  as tot from [dbo].[CanvasUsers] \n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLSP",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable rowcount String",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup find row count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowcount",
					"value": {
						"value": "@string(activity('Lookup find row count').output.firstRow.tot)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Iteration",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable rowcount String",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "iteration",
					"value": {
						"value": "@range(1,add(div(int(variables('rowcount')),5000),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable Iteration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('iteration')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_canvas_user_history",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"offset": {
										"value": "@int(variables('offset'))\r\n",
										"type": "Expression"
									},
									"fetch": {
										"value": "@int(variables('fetch'))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set offset again",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@string(mul(5000,item()))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 10,
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"fetch": {
				"type": "String",
				"defaultValue": "4999"
			},
			"rowcount": {
				"type": "String"
			},
			"iteration": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ACS/Canvas"
		},
		"annotations": []
	}
}