pipeline/pl_trackingDI.json
{
	"name": "pl_trackingDI",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BroadcastingData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "adobe-campaign--datafeed/prod/prod_br",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Delivery log ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery log ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Label",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Label",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Event date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Event date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Reason",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Reason",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Nature of failure",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Nature of failure",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Failure type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Failure type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Last modified",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Last modified",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProfileKey",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProfileKey",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Status",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Profile delivery log",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Profile delivery log",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Content variant",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Content variant",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery Label",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery Label",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery Title",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery Title",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ACS ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ACS ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "TrackingData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQLPOC",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}