pipeline/pl_trackingDI.json
{
	"name": "pl_trackingDI",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TrackingData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@adddays(utcnow(),-1)",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyToSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "adobe-campaign--datafeed/prod/prod_tr",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"Delivery log ID"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Delivery log ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery log ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "Offer",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Offer",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Profile",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Profile",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Requester UUID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Requester UUID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Profile tracking log",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Profile tracking log",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Label",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Label",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Url ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Url ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Tracking URL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Tracking URL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Url Label",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Url Label",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Source URL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Source URL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Url Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Url Category",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Url Variant",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Url Variant",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery Title",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery Title",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Delivery Label",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Delivery Label",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ACS ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ACS ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "TrackingData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQLTableQ",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "tracking",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LogRunTime",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[hco].[create_sys_log]",
					"storedProcedureParameters": {
						"datafactory": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": null,
							"type": "String"
						},
						"TriggerTime": {
							"value": null,
							"type": "String"
						},
						"TriggerType": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LSSQLPOC",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}