pipeline/s5_Export_Errors_to_CSV.json
{
	"name": "s5_Export_Errors_to_CSV",
	"properties": {
		"description": "save failed rows to CSV file",
		"activities": [
			{
				"name": "Copy errored rows from SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Construct fileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(activity('Extract file name and path').output.firstRow.sql_stmt,' where d.correlation_id=''',pipeline().parameters.correlation_id,''' and d.status<>''Valid'' ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Extract file name and path",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select \nsum(case status when 'Valid' then 1 else 0 end) as valid_cnt\n,sum(case status when 'Valid' then 0 else 1 end) as invalid_cnt\n,max(template_name) as template_name\n,max(file_path) as target_container\n,max(util.fn_json_to_sql(json_data,'stg.file_data')) as sql_stmt\nfrom stg.file_data fd where correlation_id='@{pipeline().parameters.correlation_id}'\nand exists (select 1 from stg.file_data fd where correlation_id ='@{pipeline().parameters.correlation_id}'\nand status <> 'Valid'\n)\nhaving max(template_name) is not null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					}
				}
			},
			{
				"name": "Log - Extract errored rows",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy errored rows from SQL",
						"dependencyConditions": [
							"Failed",
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[create_sys_log]",
					"storedProcedureParameters": {
						"base64_data": {
							"value": {
								"value": "@base64(concat(activity('Extract file name and path').output.firstRow.sql_stmt,' where d.correlation_id=''@{pipeline().parameters.correlation_id}'' and d.status<>''Valid'' '))",
								"type": "Expression"
							},
							"type": "String"
						},
						"context": {
							"value": {
								"value": "@{pipeline().Pipeline} -> Copy errored rows from SQL",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"source_name": {
							"value": "stg.file_data",
							"type": "String"
						},
						"system_name": {
							"value": {
								"value": "@pipeline().parameters.Configuration.sourceSystemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"target_name": {
							"value": {
								"value": "@variables('fileName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"type": {
							"value": {
								"value": "@if(equals(activity('Copy errored rows from SQL').Status, 'Failed'), 'error', 'info')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Log - File Path",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Extract file name and path",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[create_sys_log]",
					"storedProcedureParameters": {
						"base64_data": {
							"value": {
								"value": "@base64(string(activity('Extract file name and path').output))",
								"type": "Expression"
							},
							"type": "String"
						},
						"context": {
							"value": {
								"value": "@{pipeline().Pipeline} -> Extract file name and path",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"source_name": {
							"value": "stg.file_data",
							"type": "String"
						},
						"system_name": {
							"value": {
								"value": "@pipeline().parameters.Configuration.sourceSystemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"target_name": {
							"value": null,
							"type": "String"
						},
						"type": {
							"value": {
								"value": "@if(equals(activity('Extract file name and path').Status, 'Failed'), 'error', 'info')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Start Run",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logging].[create_sys_run]",
						"storedProcedureParameters": {
							"base64_data": {
								"type": "String",
								"value": {
									"value": "@base64(string(pipeline().parameters.Configuration))",
									"type": "Expression"
								}
							},
							"context": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"run_id": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"system_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Configuration.sourceSystemName",
									"type": "Expression"
								}
							},
							"type": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"started": {
								"type": "Datetime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"correlation_id": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().parameters.correlation_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					}
				}
			},
			{
				"name": "Construct fileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extract file name and path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat(pipeline().parameters.Configuration.targetDir,'/',formatDateTime(pipeline().TriggerTime,'yyyyMMddHHmm'),'_',pipeline().parameters.correlation_id,'_',activity('Extract file name and path').output.firstRow.template_name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "End Run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy errored rows from SQL",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[update_sys_run]",
					"storedProcedureParameters": {
						"optional_data_sink_type": {
							"value": {
								"value": "@if(contains(pipeline().parameters.Configuration, 'optionalDataSinkType'), pipeline().parameters.Configuration.optionalDataSinkType, 'AzureSqlDatabase')",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"status": {
							"value": "Succeeded",
							"type": "String"
						}
					}
				}
			}
		],
		"parameters": {
			"correlation_id": {
				"type": "string",
				"defaultValue": "C931212E-F72D-422B-BFC0-38433F0C3405"
			},
			"Configuration": {
				"type": "object",
				"defaultValue": {
					"configVersion": "1.0.0",
					"sourceSystemName": "Staging Rows to CSV",
					"optionalDataSinkType": "AzureSqlDatabase",
					"paths": {
						"log": "log",
						"success": "processed",
						"fail": "failed"
					},
					"targetDir": "exported-failures",
					"stgContainer": "data-loader-stg",
					"stgFileSuffix": ".json",
					"targetFileSuffix": ".csv"
				}
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Core Bulk Data Load"
		},
		"annotations": []
	}
}