pipeline/SF Account Refresh.json
{
	"name": "SF Account Refresh",
	"properties": {
		"activities": [
			{
				"name": "Copy Salesforce object",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set brpExtractTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "Select  @{pipeline().parameters.ColumnList}  \nFROM @{pipeline().parameters.SourceTableName}\nwhere  LastModifiedDate >= {ts'@{variables('brpExtractFrom')}'} AND\nLastModifiedDate <= {ts'@{variables('brpExtractTo')}'}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "MasterRecordId",
									"type": "String"
								},
								"sink": {
									"name": "MasterRecordId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RecordTypeId",
									"type": "String"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String"
								},
								"sink": {
									"name": "ParentId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingStreet",
									"type": "String"
								},
								"sink": {
									"name": "BillingStreet",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCity",
									"type": "String"
								},
								"sink": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingState",
									"type": "String"
								},
								"sink": {
									"name": "BillingState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingPostalCode",
									"type": "String"
								},
								"sink": {
									"name": "BillingPostalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingCountry",
									"type": "String"
								},
								"sink": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingLatitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "BillingLatitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 15,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "BillingLongitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "BillingLongitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 15,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "BillingGeocodeAccuracy",
									"type": "String"
								},
								"sink": {
									"name": "BillingGeocodeAccuracy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingStreet",
									"type": "String"
								},
								"sink": {
									"name": "ShippingStreet",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingCity",
									"type": "String"
								},
								"sink": {
									"name": "ShippingCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingState",
									"type": "String"
								},
								"sink": {
									"name": "ShippingState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingPostalCode",
									"type": "String"
								},
								"sink": {
									"name": "ShippingPostalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingCountry",
									"type": "String"
								},
								"sink": {
									"name": "ShippingCountry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ShippingLatitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "ShippingLatitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 15,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ShippingLongitude",
									"type": "Decimal"
								},
								"sink": {
									"name": "ShippingLongitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 15,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ShippingGeocodeAccuracy",
									"type": "String"
								},
								"sink": {
									"name": "ShippingGeocodeAccuracy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Fax",
									"type": "String"
								},
								"sink": {
									"name": "Fax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Website",
									"type": "String"
								},
								"sink": {
									"name": "Website",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PhotoUrl",
									"type": "String"
								},
								"sink": {
									"name": "PhotoUrl",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sic",
									"type": "String"
								},
								"sink": {
									"name": "Sic",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "String"
								},
								"sink": {
									"name": "Industry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AnnualRevenue",
									"type": "Decimal"
								},
								"sink": {
									"name": "AnnualRevenue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "NumberOfEmployees",
									"type": "Int32"
								},
								"sink": {
									"name": "NumberOfEmployees",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Ownership",
									"type": "String"
								},
								"sink": {
									"name": "Ownership",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TickerSymbol",
									"type": "String"
								},
								"sink": {
									"name": "TickerSymbol",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Rating",
									"type": "String"
								},
								"sink": {
									"name": "Rating",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Site",
									"type": "String"
								},
								"sink": {
									"name": "Site",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CurrencyIsoCode",
									"type": "String"
								},
								"sink": {
									"name": "CurrencyIsoCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OwnerId",
									"type": "String"
								},
								"sink": {
									"name": "OwnerId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CreatedById",
									"type": "String"
								},
								"sink": {
									"name": "CreatedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastModifiedById",
									"type": "String"
								},
								"sink": {
									"name": "LastModifiedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastActivityDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastActivityDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastViewedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastViewedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastReferencedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastReferencedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "IsCustomerPortal",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsCustomerPortal",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Jigsaw",
									"type": "String"
								},
								"sink": {
									"name": "Jigsaw",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JigsawCompanyId",
									"type": "String"
								},
								"sink": {
									"name": "JigsawCompanyId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountSource",
									"type": "String"
								},
								"sink": {
									"name": "AccountSource",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SicDesc",
									"type": "String"
								},
								"sink": {
									"name": "SicDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__AccountParticulars__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__AccountParticulars__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__BankBIC__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__BankBIC__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__PaymentCode__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__PaymentCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__PaymentCountryISO__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__PaymentCountryISO__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__PaymentPriority__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__PaymentPriority__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ffbf__PaymentRoutingMethod__c",
									"type": "String"
								},
								"sink": {
									"name": "ffbf__PaymentRoutingMethod__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Purchase_Order_Contact__c",
									"type": "String"
								},
								"sink": {
									"name": "Purchase_Order_Contact__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Service_Category__c",
									"type": "String"
								},
								"sink": {
									"name": "Service_Category__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ABN__c",
									"type": "String"
								},
								"sink": {
									"name": "ABN__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ANZSCOCode__c",
									"type": "String"
								},
								"sink": {
									"name": "ANZSCOCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountManager__c",
									"type": "String"
								},
								"sink": {
									"name": "AccountManager__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountType__c",
									"type": "String"
								},
								"sink": {
									"name": "AccountType__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_18_Digits_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_18_Digits_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account_Support__c",
									"type": "String"
								},
								"sink": {
									"name": "Account_Support__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Active_Certification_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Active_Certification_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AdditionalAccountType__c",
									"type": "String"
								},
								"sink": {
									"name": "AdditionalAccountType__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AllergyOtherDietaryRequirements__c",
									"type": "String"
								},
								"sink": {
									"name": "AllergyOtherDietaryRequirements__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingContact__c",
									"type": "String"
								},
								"sink": {
									"name": "BillingContact__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BillingGradeChangeDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "BillingGradeChangeDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "BillingGrade__c",
									"type": "String"
								},
								"sink": {
									"name": "BillingGrade__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Billing_Grade1_Change_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Billing_Grade1_Change_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Billing_Grade2_Change_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Billing_Grade2_Change_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "BoxFolderId__c",
									"type": "String"
								},
								"sink": {
									"name": "BoxFolderId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Branch_Newsletters__c",
									"type": "String"
								},
								"sink": {
									"name": "Branch_Newsletters__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Branch_Overridden__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Branch_Overridden__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Branch__c",
									"type": "String"
								},
								"sink": {
									"name": "Branch__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Bulk_Upload_PPP_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Bulk_Upload_PPP_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CertificationBadge__c",
									"type": "String"
								},
								"sink": {
									"name": "CertificationBadge__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CertificationLevel__c",
									"type": "String"
								},
								"sink": {
									"name": "CertificationLevel__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CommunityUser__c",
									"type": "String"
								},
								"sink": {
									"name": "CommunityUser__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Completion_Points_Anzsco__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Anzsco__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Bio__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Bio__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_DOB__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_DOB__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Email__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Email__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Employer_Name__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Employer_Name__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Expertise__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Expertise__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_FL_Name__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_FL_Name__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Gender__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Gender__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_H_Address__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_H_Address__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Industry__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Industry__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Languages__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Languages__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Mobile__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Mobile__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Phone__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Phone__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Position__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Position__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Sec_Email__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Sec_Email__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Skills__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Skills__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Specialism__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Specialism__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_Sub_Industry__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_Sub_Industry__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Completion_Points_W_Address__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Completion_Points_W_Address__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "CongaCTCPFormula__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaCTCPFormula__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaCTCPTemplateID__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaCTCPTemplateID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaCitySys__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaCitySys__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaCountrySys__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaCountrySys__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaMemberCertificate__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaMemberCertificate__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaPostCodeSys__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaPostCodeSys__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaStateSys__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaStateSys__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CongaStreetSys__c",
									"type": "String"
								},
								"sink": {
									"name": "CongaStreetSys__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ConsultantsDirectory__c",
									"type": "String"
								},
								"sink": {
									"name": "ConsultantsDirectory__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreateBoxFolders__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "CreateBoxFolders__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Create_User_and_Send_New_Password__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Create_User_and_Send_New_Password__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreditCardLast4Digits__c",
									"type": "String"
								},
								"sink": {
									"name": "CreditCardLast4Digits__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreditCardPaymentToken__c",
									"type": "String"
								},
								"sink": {
									"name": "CreditCardPaymentToken__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreditCardType__c",
									"type": "String"
								},
								"sink": {
									"name": "CreditCardType__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CurrentMembershipExpiry__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "CurrentMembershipExpiry__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CurrentYearAmountSpent__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "CurrentYearAmountSpent__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Data_Migrated_from_XEN__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Data_Migrated_from_XEN__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "DateOfBirthText__c",
									"type": "String"
								},
								"sink": {
									"name": "DateOfBirthText__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DateOfBirth__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "DateOfBirth__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Default_Address__c",
									"type": "String"
								},
								"sink": {
									"name": "Default_Address__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DietaryRequirements__c",
									"type": "String"
								},
								"sink": {
									"name": "DietaryRequirements__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Email__c",
									"type": "String"
								},
								"sink": {
									"name": "Email__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Employer_Name__c",
									"type": "String"
								},
								"sink": {
									"name": "Employer_Name__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ExcludeCommercialEmail__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "ExcludeCommercialEmail__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ExcludeSMSCommunication__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "ExcludeSMSCommunication__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ExcludeThirdPartyMailings__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "ExcludeThirdPartyMailings__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Expertise__c",
									"type": "String"
								},
								"sink": {
									"name": "Expertise__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Face_to_Face_Interview__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Face_to_Face_Interview__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Facebook__c",
									"type": "String"
								},
								"sink": {
									"name": "Facebook__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Former_Billing_Grade1__c",
									"type": "String"
								},
								"sink": {
									"name": "Former_Billing_Grade1__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Former_Billing_Grade2__c",
									"type": "String"
								},
								"sink": {
									"name": "Former_Billing_Grade2__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Gender__c",
									"type": "String"
								},
								"sink": {
									"name": "Gender__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Geography__c",
									"type": "String"
								},
								"sink": {
									"name": "Geography__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITWorkforceSize__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ITWorkforceSize__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "IndustrySubtype__c",
									"type": "String"
								},
								"sink": {
									"name": "IndustrySubtype__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Membership_Opt_Out__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Membership_Opt_Out__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "IsLead__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsLead__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "KeepCertificationStatusPrivate__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "KeepCertificationStatusPrivate__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "KeyContactEmail__c",
									"type": "String"
								},
								"sink": {
									"name": "KeyContactEmail__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KeyContactName__c",
									"type": "String"
								},
								"sink": {
									"name": "KeyContactName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Key_ICT_Skills__c",
									"type": "String"
								},
								"sink": {
									"name": "Key_ICT_Skills__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Languages__c",
									"type": "String"
								},
								"sink": {
									"name": "Languages__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastContactDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "LastContactDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LinkedIn__c",
									"type": "String"
								},
								"sink": {
									"name": "LinkedIn__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LogoImageId__c",
									"type": "String"
								},
								"sink": {
									"name": "LogoImageId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MARARegistrationCode__c",
									"type": "String"
								},
								"sink": {
									"name": "MARARegistrationCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Manual_Data_Entry__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Manual_Data_Entry__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "MemberGrade__c",
									"type": "String"
								},
								"sink": {
									"name": "MemberGrade__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Member_Role__c",
									"type": "String"
								},
								"sink": {
									"name": "Member_Role__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MembershipDocumentsBoxFolderId__c",
									"type": "String"
								},
								"sink": {
									"name": "MembershipDocumentsBoxFolderId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MembershipNumberAutoGen__c",
									"type": "String"
								},
								"sink": {
									"name": "MembershipNumberAutoGen__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MembershipNumber__c",
									"type": "String"
								},
								"sink": {
									"name": "MembershipNumber__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Membership_Status__c",
									"type": "String"
								},
								"sink": {
									"name": "Membership_Status__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MigrationAgentPrimaryBusinessName__c",
									"type": "String"
								},
								"sink": {
									"name": "MigrationAgentPrimaryBusinessName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Mobile__c",
									"type": "String"
								},
								"sink": {
									"name": "Mobile__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NationalSignificance__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "NationalSignificance__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "New_Membership_Signup_created__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "New_Membership_Signup_created__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PPP__c",
									"type": "String"
								},
								"sink": {
									"name": "PPP__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Partial_Copy_of_Person_Bio__c",
									"type": "String"
								},
								"sink": {
									"name": "Partial_Copy_of_Person_Bio__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentAutoRenew__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PaymentAutoRenew__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PaymentFrequency__c",
									"type": "String"
								},
								"sink": {
									"name": "PaymentFrequency__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PaymentMethod__c",
									"type": "String"
								},
								"sink": {
									"name": "PaymentMethod__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountDoNotCall__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PersonAccountDoNotCall__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PersonAccountEmailOptOut__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PersonAccountEmailOptOut__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PersonAccountFirstName__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountFirstName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountJoinedDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "PersonAccountJoinedDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "PersonAccountLastName__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountLastName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountMiddleName__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountMiddleName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountPositionTitle__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountPositionTitle__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountPublish__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PersonAccountPublish__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PersonAccountSecondaryEmail__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountSecondaryEmail__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonAccountSuffix__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonAccountSuffix__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonBio__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonBio__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PersonImageId__c",
									"type": "String"
								},
								"sink": {
									"name": "PersonImageId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PleaseNote__c",
									"type": "String"
								},
								"sink": {
									"name": "PleaseNote__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PreferredContactMethod__c",
									"type": "String"
								},
								"sink": {
									"name": "PreferredContactMethod__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PreferredName__c",
									"type": "String"
								},
								"sink": {
									"name": "PreferredName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductArticle__c",
									"type": "String"
								},
								"sink": {
									"name": "ProductArticle__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProfessionalDocumentsBoxFolderId__c",
									"type": "String"
								},
								"sink": {
									"name": "ProfessionalDocumentsBoxFolderId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Professional_Interest__c",
									"type": "String"
								},
								"sink": {
									"name": "Professional_Interest__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Profile_Completion_Rate__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Profile_Completion_Rate__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Program_Account_for_Current_Membership__c",
									"type": "String"
								},
								"sink": {
									"name": "Program_Account_for_Current_Membership__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROIAvailableCurrentFY__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ROIAvailableCurrentFY__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ROIAvailableNextFY__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ROIAvailableNextFY__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ReinvestmentAmount__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ReinvestmentAmount__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ReinvestmentRemaining__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ReinvestmentRemaining__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ReinvestmentSpent__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "ReinvestmentSpent__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Sister_Society_Member__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Sister_Society_Member__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SkillsAgentIDAssignment__c",
									"type": "String"
								},
								"sink": {
									"name": "SkillsAgentIDAssignment__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SkillsAgentID__c",
									"type": "String"
								},
								"sink": {
									"name": "SkillsAgentID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SkillsAgentStatus__c",
									"type": "String"
								},
								"sink": {
									"name": "SkillsAgentStatus__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SpecialBillingExpiryDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "SpecialBillingExpiryDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Specialisms__c",
									"type": "String"
								},
								"sink": {
									"name": "Specialisms__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Title__c",
									"type": "String"
								},
								"sink": {
									"name": "Title__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TotalWorkforceSize__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "TotalWorkforceSize__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TradingName__c",
									"type": "String"
								},
								"sink": {
									"name": "TradingName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Twitter__c",
									"type": "String"
								},
								"sink": {
									"name": "Twitter__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UENumber__c",
									"type": "String"
								},
								"sink": {
									"name": "UENumber__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WebsiteRole__c",
									"type": "String"
								},
								"sink": {
									"name": "WebsiteRole__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WorkHistory__c",
									"type": "String"
								},
								"sink": {
									"name": "WorkHistory__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Work_Phone__c",
									"type": "String"
								},
								"sink": {
									"name": "Work_Phone__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "XEN_User_Type__c",
									"type": "String"
								},
								"sink": {
									"name": "XEN_User_Type__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "XenDocumentsBoxFolderId__c",
									"type": "String"
								},
								"sink": {
									"name": "XenDocumentsBoxFolderId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "XenEncryptedPassword__c",
									"type": "String"
								},
								"sink": {
									"name": "XenEncryptedPassword__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "XenId__c",
									"type": "String"
								},
								"sink": {
									"name": "XenId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Skill_Record_Count__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Skill_Record_Count__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Staff_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Staff_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GradingDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "GradingDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Branch_Newsletters_Change__c",
									"type": "String"
								},
								"sink": {
									"name": "Branch_Newsletters_Change__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Credit_Card_Expiry_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Credit_Card_Expiry_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "BPay_CRN__c",
									"type": "String"
								},
								"sink": {
									"name": "BPay_CRN__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CertificationExpiryDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "CertificationExpiryDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Nov_Recurring_Email__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Nov_Recurring_Email__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Post_Nominals__c",
									"type": "String"
								},
								"sink": {
									"name": "Post_Nominals__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JoinedLastWeek__c",
									"type": "String"
								},
								"sink": {
									"name": "JoinedLastWeek__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name_With_First_Name_Suffix__c",
									"type": "String"
								},
								"sink": {
									"name": "Name_With_First_Name_Suffix__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Valid_Until_End__c",
									"type": "String"
								},
								"sink": {
									"name": "Valid_Until_End__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CMSJoinNowApplicationType__c",
									"type": "String"
								},
								"sink": {
									"name": "CMSJoinNowApplicationType__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsBoxMembershipFileIdsToMove__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsBoxMembershipFileIdsToMove__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsDirectDepositBoxDocumentDetails__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsDirectDepositBoxDocumentDetails__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsDirectDepositBoxFileIdsToMove__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsDirectDepositBoxFileIdsToMove__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsICTBoxDocumentDetails__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsICTBoxDocumentDetails__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsICTBoxFileIdsToMove__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsICTBoxFileIdsToMove__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsMembershipBoxDocumentDetails__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsMembershipBoxDocumentDetails__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CmsProfessionBoxFileIdsToMove__c",
									"type": "String"
								},
								"sink": {
									"name": "CmsProfessionBoxFileIdsToMove__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountryOfEducation__c",
									"type": "String"
								},
								"sink": {
									"name": "CountryOfEducation__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreateUserRecordOnly__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "CreateUserRecordOnly__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "DateOfCommencement__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "DateOfCommencement__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "DateOfExpectedCompletion__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "DateOfExpectedCompletion__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NameOfInstitution__c",
									"type": "String"
								},
								"sink": {
									"name": "NameOfInstitution__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NameOnCreditCard__c",
									"type": "String"
								},
								"sink": {
									"name": "NameOnCreditCard__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QualificationName__c",
									"type": "String"
								},
								"sink": {
									"name": "QualificationName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RememberForFuturePayments__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "RememberForFuturePayments__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "EmployeeId__c",
									"type": "String"
								},
								"sink": {
									"name": "EmployeeId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Identified_for_Merge__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Identified_for_Merge__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Member_Since__c",
									"type": "String"
								},
								"sink": {
									"name": "Member_Since__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JoinedThisMonth__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "JoinedThisMonth__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Enrolment_Status__c",
									"type": "String"
								},
								"sink": {
									"name": "Enrolment_Status__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PY_Completion_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "PY_Completion_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Provider_Student_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "Provider_Student_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VETrack_Number__c",
									"type": "String"
								},
								"sink": {
									"name": "VETrack_Number__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountImage__c",
									"type": "String"
								},
								"sink": {
									"name": "AccountImage__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RecordSource__c",
									"type": "String"
								},
								"sink": {
									"name": "RecordSource__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PostNominalsForCP__c",
									"type": "String"
								},
								"sink": {
									"name": "PostNominalsForCP__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccreditedUniversityFacultySchool__c",
									"type": "String"
								},
								"sink": {
									"name": "AccreditedUniversityFacultySchool__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Exclude_from_Email_Communication__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Exclude_from_Email_Communication__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SkillsMembershipDuplicateAccount_User__c",
									"type": "String"
								},
								"sink": {
									"name": "SkillsMembershipDuplicateAccount_User__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Information_Age__c",
									"type": "String"
								},
								"sink": {
									"name": "Information_Age__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UniqueId__c",
									"type": "String"
								},
								"sink": {
									"name": "UniqueId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACS_Newsletter__c",
									"type": "String"
								},
								"sink": {
									"name": "ACS_Newsletter__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACS_Marketing_Communication__c",
									"type": "String"
								},
								"sink": {
									"name": "ACS_Marketing_Communication__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SMS_Communications__c",
									"type": "String"
								},
								"sink": {
									"name": "SMS_Communications__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ThirdParty_Communications__c",
									"type": "String"
								},
								"sink": {
									"name": "ThirdParty_Communications__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Create_Free_Skills_Membership__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Create_Free_Skills_Membership__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SkillsAgentApplication__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "SkillsAgentApplication__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Number_of_Certifications__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Number_of_Certifications__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Password_Token_Expiry_Date__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Password_Token_Expiry_Date__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Password_Token_Used__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Password_Token_Used__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Password_Token__c",
									"type": "String"
								},
								"sink": {
									"name": "Password_Token__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Days_Until_CC_Expiry__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Days_Until_CC_Expiry__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Eligible_for_CC_Expiry_Reminder__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Eligible_for_CC_Expiry_Reminder__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Outfit_Certificates_Last_Update__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Outfit_Certificates_Last_Update__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Outfit_Membeship_Cert_Last_Update__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Outfit_Membeship_Cert_Last_Update__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Disable_Validation__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Disable_Validation__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Short_Name__c",
									"type": "String"
								},
								"sink": {
									"name": "Short_Name__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "No_of_Programs_With_Active_Memberships__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "No_of_Programs_With_Active_Memberships__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Total_Active_ROI_Budget__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Total_Active_ROI_Budget__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Total_ROI_Balance_Remaining__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Total_ROI_Balance_Remaining__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Total_ROI_Spend__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Total_ROI_Spend__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "fferpcore__ExemptionCertificate__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ExemptionCertificate__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__IsBillingAddressValidated__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "fferpcore__IsBillingAddressValidated__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "fferpcore__IsShippingAddressValidated__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "fferpcore__IsShippingAddressValidated__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "fferpcore__OutputVatCode__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__OutputVatCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__SalesTaxStatus__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__SalesTaxStatus__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__TaxCode1__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__TaxCode1__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__TaxCode2__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__TaxCode2__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__TaxCode3__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__TaxCode3__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__TaxCountryCode__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__TaxCountryCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedBillingCity__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedBillingCity__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedBillingCountry__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedBillingCountry__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedBillingPostalCode__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedBillingPostalCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedBillingState__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedBillingState__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedBillingStreet__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedBillingStreet__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedShippingCity__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedShippingCity__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedShippingCountry__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedShippingCountry__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedShippingPostalCode__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedShippingPostalCode__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedShippingState__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedShippingState__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__ValidatedShippingStreet__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__ValidatedShippingStreet__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__VatRegistrationNumber__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__VatRegistrationNumber__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fferpcore__VatStatus__c",
									"type": "String"
								},
								"sink": {
									"name": "fferpcore__VatStatus__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Facebook_Messenger_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "Facebook_Messenger_Id__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Total_Membership_Years__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Total_Membership_Years__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Membership_Balance_Amount__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Membership_Balance_Amount__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Education_Level__c",
									"type": "String"
								},
								"sink": {
									"name": "Education_Level__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Certificate_Specialism__c",
									"type": "String"
								},
								"sink": {
									"name": "Certificate_Specialism__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Is_Active__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Is_Active__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Elected_Official__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Elected_Official__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Confirmation_of_PSS_Enrollment__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Confirmation_of_PSS_Enrollment__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Employment_Category__c",
									"type": "String"
								},
								"sink": {
									"name": "Employment_Category__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Employment_Type__c",
									"type": "String"
								},
								"sink": {
									"name": "Employment_Type__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Higher_Cap__c",
									"type": "String"
								},
								"sink": {
									"name": "Higher_Cap__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PSS_Insurance_Cover__c",
									"type": "String"
								},
								"sink": {
									"name": "PSS_Insurance_Cover__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PSS_Member__c",
									"type": "String"
								},
								"sink": {
									"name": "PSS_Member__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Certification_Outfit_Document_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "Certification_Outfit_Document_Id__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Pendula_Test__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Pendula_Test__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Current_Membership_Expiry_As_Text__c",
									"type": "String"
								},
								"sink": {
									"name": "Current_Membership_Expiry_As_Text__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Days_since_Current_Membership_Expiry__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Days_since_Current_Membership_Expiry__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Age__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Age__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Private__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Private__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Elected_Official_Count__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Elected_Official_Count__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Is_Elected_Official__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Is_Elected_Official__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Member_Tier__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Member_Tier__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Litmos__Active__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__Active__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Litmos__CustomerPriority__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__CustomerPriority__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Litmos__Litmos_Id__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__Litmos_Id__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Litmos__NumberofLocations__c",
									"type": "Decimal"
								},
								"sink": {
									"name": "Litmos__NumberofLocations__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"source": {
									"name": "Litmos__SLAExpirationDate__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Litmos__SLAExpirationDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Litmos__SLASerialNumber__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__SLASerialNumber__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Litmos__SLA__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__SLA__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Litmos__UpsellOpportunity__c",
									"type": "String"
								},
								"sink": {
									"name": "Litmos__UpsellOpportunity__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Student_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Student_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Access_to_Canvas__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Access_to_Canvas__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "fferpcore__MaterializedBillingAddressValidated__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "fferpcore__MaterializedBillingAddressValidated__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "fferpcore__MaterializedShippingAddressValidated__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "fferpcore__MaterializedShippingAddressValidated__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "EU_Applicants_Flag__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "EU_Applicants_Flag__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Is_New_User__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Is_New_User__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Brand__c",
									"type": "String"
								},
								"sink": {
									"name": "Brand__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MC_Applicant__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "MC_Applicant__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Is_Changed__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "Is_Changed__c",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "User_Change_Error__c",
									"type": "String"
								},
								"sink": {
									"name": "User_Change_Error__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PartiallyCompletedMicroCredentialId__c",
									"type": "String"
								},
								"sink": {
									"name": "PartiallyCompletedMicroCredentialId__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Pendula_Resend__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "Pendula_Resend__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Community_Name__c",
									"type": "String"
								},
								"sink": {
									"name": "Community_Name__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HiddenUserLocationState__c",
									"type": "String"
								},
								"sink": {
									"name": "HiddenUserLocationState__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HiddenFullName__c",
									"type": "String"
								},
								"sink": {
									"name": "HiddenFullName__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Industry__c",
									"type": "String"
								},
								"sink": {
									"name": "Industry__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Azure_ID__c",
									"type": "String"
								},
								"sink": {
									"name": "Azure_ID__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Azure_Email__c",
									"type": "String"
								},
								"sink": {
									"name": "Azure_Email__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ACSDSSF",
						"type": "DatasetReference",
						"parameters": {
							"object1": "account",
							"object2": "assessment"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set  brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HWM  SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@if(equals(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,null),variables('brpExtractTo') ,\n    formatDateTime(replace(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET TGT HWM  SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM \n@{concat(pipeline().parameters.schemaname,'.',pipeline().parameters.TargetTableName)}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "GET SRC HighWaterMark",
				"description": "Find the latest change in the Salesforce table indicated by the parameter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set  brpExtractFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM @{pipeline().parameters.SourceTableName}\nWHERE LastModifiedDate >= {ts'@{variables('brpExtractFrom')}'}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "ACSDSSF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set brpExtractTo",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET SRC HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractTo",
					"value": {
						"value": "@formatDateTime(replace(activity('GET SRC HighWaterMark').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceTableName": {
				"type": "string",
				"defaultValue": "Account"
			},
			"TargetTableName": {
				"type": "string",
				"defaultValue": "Account"
			},
			"ColumnList": {
				"type": "string",
				"defaultValue": "Id ,IsDeleted ,MasterRecordId ,Name ,Type ,RecordTypeId ,ParentId ,BillingStreet ,BillingCity ,BillingState ,BillingPostalCode ,BillingCountry ,BillingLatitude ,BillingLongitude ,BillingGeocodeAccuracy ,ShippingStreet ,ShippingCity ,ShippingState ,ShippingPostalCode ,ShippingCountry ,ShippingLatitude ,ShippingLongitude ,ShippingGeocodeAccuracy ,Phone ,Fax ,AccountNumber ,Website ,PhotoUrl ,Sic ,Industry ,AnnualRevenue ,NumberOfEmployees ,Ownership ,TickerSymbol ,Description ,Rating ,Site ,CurrencyIsoCode ,OwnerId ,CreatedDate ,CreatedById ,LastModifiedDate ,LastModifiedById ,SystemModstamp ,LastActivityDate ,LastViewedDate ,LastReferencedDate ,IsCustomerPortal ,Jigsaw ,JigsawCompanyId ,AccountSource ,SicDesc ,ffbf__AccountParticulars__c ,ffbf__BankBIC__c ,ffbf__PaymentCode__c ,ffbf__PaymentCountryISO__c ,ffbf__PaymentPriority__c ,ffbf__PaymentRoutingMethod__c ,Purchase_Order_Contact__c ,Service_Category__c ,ABN__c ,ANZSCOCode__c ,AccountManager__c ,AccountType__c ,Account_18_Digits_ID__c ,Account_Support__c ,Active_Certification_ID__c ,AdditionalAccountType__c ,AllergyOtherDietaryRequirements__c ,BillingContact__c ,BillingGradeChangeDate__c ,BillingGrade__c ,Billing_Grade1_Change_Date__c ,Billing_Grade2_Change_Date__c ,BoxFolderId__c ,Branch_Newsletters__c ,Branch_Overridden__c ,Branch__c ,Bulk_Upload_PPP_ID__c ,CertificationBadge__c ,CertificationLevel__c ,CommunityUser__c ,Completion_Points_Anzsco__c ,Completion_Points_Bio__c ,Completion_Points_DOB__c ,Completion_Points_Email__c ,Completion_Points_Employer_Name__c ,Completion_Points_Expertise__c ,Completion_Points_FL_Name__c ,Completion_Points_Gender__c ,Completion_Points_H_Address__c ,Completion_Points_Industry__c ,Completion_Points_Languages__c ,Completion_Points_Mobile__c ,Completion_Points_Phone__c ,Completion_Points_Position__c ,Completion_Points_Sec_Email__c ,Completion_Points_Skills__c ,Completion_Points_Specialism__c ,Completion_Points_Sub_Industry__c ,Completion_Points_W_Address__c ,CongaCTCPFormula__c ,CongaCTCPTemplateID__c ,CongaCitySys__c ,CongaCountrySys__c ,CongaMemberCertificate__c ,CongaPostCodeSys__c ,CongaStateSys__c ,CongaStreetSys__c ,ConsultantsDirectory__c ,CreateBoxFolders__c ,Create_User_and_Send_New_Password__c ,CreditCardLast4Digits__c ,CreditCardPaymentToken__c ,CreditCardType__c ,CurrentMembershipExpiry__c ,CurrentYearAmountSpent__c ,Data_Migrated_from_XEN__c ,DateOfBirthText__c ,DateOfBirth__c ,Default_Address__c ,DietaryRequirements__c ,Email__c ,Employer_Name__c ,ExcludeCommercialEmail__c ,ExcludeSMSCommunication__c ,ExcludeThirdPartyMailings__c ,Expertise__c ,Face_to_Face_Interview__c ,Facebook__c ,Former_Billing_Grade1__c ,Former_Billing_Grade2__c ,Gender__c ,Geography__c ,ITWorkforceSize__c ,IndustrySubtype__c ,Membership_Opt_Out__c ,IsLead__c ,KeepCertificationStatusPrivate__c ,KeyContactEmail__c ,KeyContactName__c ,Key_ICT_Skills__c ,Languages__c ,LastContactDate__c ,LinkedIn__c ,LogoImageId__c ,MARARegistrationCode__c ,Manual_Data_Entry__c ,MemberGrade__c ,Member_Role__c ,MembershipDocumentsBoxFolderId__c ,MembershipNumberAutoGen__c ,MembershipNumber__c ,Membership_Status__c ,MigrationAgentPrimaryBusinessName__c ,Mobile__c ,NationalSignificance__c ,New_Membership_Signup_created__c ,PPP__c ,Partial_Copy_of_Person_Bio__c ,PaymentAutoRenew__c ,PaymentFrequency__c ,PaymentMethod__c ,PersonAccountDoNotCall__c ,PersonAccountEmailOptOut__c ,PersonAccountFirstName__c ,PersonAccountJoinedDate__c ,PersonAccountLastName__c ,PersonAccountMiddleName__c ,PersonAccountPositionTitle__c ,PersonAccountPublish__c ,PersonAccountSecondaryEmail__c ,PersonAccountSuffix__c ,PersonBio__c ,PersonImageId__c ,PleaseNote__c ,PreferredContactMethod__c ,PreferredName__c ,ProductArticle__c ,ProfessionalDocumentsBoxFolderId__c ,Professional_Interest__c ,Profile_Completion_Rate__c ,Program_Account_for_Current_Membership__c ,ROIAvailableCurrentFY__c ,ROIAvailableNextFY__c ,ReinvestmentAmount__c ,ReinvestmentRemaining__c ,ReinvestmentSpent__c ,Sister_Society_Member__c ,SkillsAgentIDAssignment__c ,SkillsAgentID__c ,SkillsAgentStatus__c ,SpecialBillingExpiryDate__c ,Specialisms__c ,Title__c ,TotalWorkforceSize__c ,TradingName__c ,Twitter__c ,UENumber__c ,WebsiteRole__c ,WorkHistory__c ,Work_Phone__c ,XEN_User_Type__c ,XenDocumentsBoxFolderId__c ,XenEncryptedPassword__c ,XenId__c ,Skill_Record_Count__c ,Staff_ID__c ,GradingDate__c ,Branch_Newsletters_Change__c ,Credit_Card_Expiry_Date__c ,BPay_CRN__c ,CertificationExpiryDate__c ,Nov_Recurring_Email__c ,Post_Nominals__c ,JoinedLastWeek__c ,Name_With_First_Name_Suffix__c ,Valid_Until_End__c ,CMSJoinNowApplicationType__c ,CmsBoxMembershipFileIdsToMove__c ,CmsDirectDepositBoxDocumentDetails__c ,CmsDirectDepositBoxFileIdsToMove__c ,CmsICTBoxDocumentDetails__c ,CmsICTBoxFileIdsToMove__c ,CmsMembershipBoxDocumentDetails__c ,CmsProfessionBoxFileIdsToMove__c ,CountryOfEducation__c ,CreateUserRecordOnly__c ,DateOfCommencement__c ,DateOfExpectedCompletion__c ,NameOfInstitution__c ,NameOnCreditCard__c ,QualificationName__c ,RememberForFuturePayments__c ,EmployeeId__c ,Identified_for_Merge__c ,Member_Since__c ,JoinedThisMonth__c ,Enrolment_Status__c ,PY_Completion_Date__c ,Provider_Student_Number__c ,VETrack_Number__c ,AccountImage__c ,RecordSource__c ,PostNominalsForCP__c ,AccreditedUniversityFacultySchool__c ,Exclude_from_Email_Communication__c ,SkillsMembershipDuplicateAccount_User__c ,Information_Age__c ,UniqueId__c ,ACS_Newsletter__c ,ACS_Marketing_Communication__c ,SMS_Communications__c ,ThirdParty_Communications__c ,Create_Free_Skills_Membership__c ,SkillsAgentApplication__c ,Number_of_Certifications__c ,Password_Token_Expiry_Date__c ,Password_Token_Used__c ,Password_Token__c ,Days_Until_CC_Expiry__c ,Eligible_for_CC_Expiry_Reminder__c ,Outfit_Certificates_Last_Update__c ,Outfit_Membeship_Cert_Last_Update__c ,Disable_Validation__c ,Short_Name__c ,No_of_Programs_With_Active_Memberships__c ,Total_Active_ROI_Budget__c ,Total_ROI_Balance_Remaining__c ,Total_ROI_Spend__c ,fferpcore__ExemptionCertificate__c ,fferpcore__IsBillingAddressValidated__c ,fferpcore__IsShippingAddressValidated__c ,fferpcore__OutputVatCode__c ,fferpcore__SalesTaxStatus__c ,fferpcore__TaxCode1__c ,fferpcore__TaxCode2__c ,fferpcore__TaxCode3__c ,fferpcore__TaxCountryCode__c ,fferpcore__ValidatedBillingCity__c ,fferpcore__ValidatedBillingCountry__c ,fferpcore__ValidatedBillingPostalCode__c ,fferpcore__ValidatedBillingState__c ,fferpcore__ValidatedBillingStreet__c ,fferpcore__ValidatedShippingCity__c ,fferpcore__ValidatedShippingCountry__c ,fferpcore__ValidatedShippingPostalCode__c ,fferpcore__ValidatedShippingState__c ,fferpcore__ValidatedShippingStreet__c ,fferpcore__VatRegistrationNumber__c ,fferpcore__VatStatus__c ,Facebook_Messenger_Id__c ,Total_Membership_Years__c ,Membership_Balance_Amount__c ,Education_Level__c ,Certificate_Specialism__c ,Is_Active__c ,Elected_Official__c ,Confirmation_of_PSS_Enrollment__c ,Employment_Category__c ,Employment_Type__c ,Higher_Cap__c ,PSS_Insurance_Cover__c ,PSS_Member__c ,Certification_Outfit_Document_Id__c ,Pendula_Test__c ,Current_Membership_Expiry_As_Text__c ,Days_since_Current_Membership_Expiry__c ,Age__c ,Private__c ,Elected_Official_Count__c ,Is_Elected_Official__c ,Member_Tier__c ,Litmos__Active__c ,Litmos__CustomerPriority__c ,Litmos__Litmos_Id__c ,Litmos__NumberofLocations__c ,Litmos__SLAExpirationDate__c ,Litmos__SLASerialNumber__c ,Litmos__SLA__c ,Litmos__UpsellOpportunity__c ,Student_ID__c ,Access_to_Canvas__c ,fferpcore__MaterializedBillingAddressValidated__c ,fferpcore__MaterializedShippingAddressValidated__c ,EU_Applicants_Flag__c ,Is_New_User__c ,Brand__c ,MC_Applicant__c ,Is_Changed__c ,User_Change_Error__c ,PartiallyCompletedMicroCredentialId__c ,Pendula_Resend__c ,Community_Name__c ,HiddenUserLocationState__c ,HiddenFullName__c ,Industry__c, Azure_Email__c, Azure_ID__c"
			},
			"schemaname": {
				"type": "string",
				"defaultValue": "salesforce"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			},
			"brpExtractTo": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			},
			"defaultFromvalue": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			}
		},
		"folder": {
			"name": "ACS/Salesforce"
		},
		"annotations": []
	}
}