pipeline/SF AccreditedCourse__c Refresh.json
{
	"name": "SF AccreditedCourse__c Refresh",
	"properties": {
		"activities": [
			{
				"name": "Copy Salesforce object",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set brpExtractTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "Select  @{pipeline().parameters.ColumnList}  \nFROM @{pipeline().parameters.SourceTableName}\nwhere  LastModifiedDate >= {ts'@{variables('brpExtractFrom')}'} AND\nLastModifiedDate <= {ts'@{variables('brpExtractTo')}'}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ACSDSSF",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": "salesforce"
						}
					}
				]
			},
			{
				"name": "Set  brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HWM  SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@if(\n  less(  pipeline().parameters.brpExtractFrom,\nformatDateTime(replace(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')), \npipeline().parameters.brpExtractFrom,\nformatDateTime(replace(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET TGT HWM  SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM \n@{concat(pipeline().parameters.schemaname,'.',pipeline().parameters.TargetTableName)}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "GET SRC HighWaterMark",
				"description": "Find the latest change in the Salesforce table indicated by the parameter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set  brpExtractFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM @{pipeline().parameters.SourceTableName}\nWHERE LastModifiedDate >= {ts'@{variables('brpExtractFrom')}'}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "ACSDSSF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set brpExtractTo",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET SRC HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractTo",
					"value": {
						"value": "@if(\n  less(  pipeline().parameters.brpExtractTo,\nformatDateTime(replace(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')), \npipeline().parameters.brpExtractTo,\nformatDateTime(replace(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceTableName": {
				"type": "string",
				"defaultValue": "AccreditedCourse__c"
			},
			"TargetTableName": {
				"type": "string",
				"defaultValue": "AccreditedCourse__c"
			},
			"ColumnList": {
				"type": "string",
				"defaultValue": "Id, OwnerId, IsDeleted, Name, CurrencyIsoCode, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, LastActivityDate, AccreditationAssessment__c, Campus__c, Course_ID__c, Course__c, DisplayonWebsite__c, ExpiryDate__c, Notes__c, Outcomes__c, Start_Date__c, SEOUL_Accord__c, Engineers_Australia__c, Specialism__c, Conditions__c, Conditions_Due_Date__c, Conditions_Notes__c, Provisional__c, Provisional_Due_Date__c, Provisional_Notes__c"
			},
			"schemaname": {
				"type": "string",
				"defaultValue": "salesforce"
			},
			"brpExtractFrom": {
				"type": "string",
				"defaultValue": "1900-12-31 00:00:00"
			},
			"brpExtractTo": {
				"type": "string",
				"defaultValue": "1900-12-31 00:00:00"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			},
			"brpExtractTo": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			}
		},
		"folder": {
			"name": "ACS/Salesforce"
		},
		"annotations": []
	}
}