pipeline/SF new Experience Refresh.json
{
	"name": "SF new Experience Refresh",
	"properties": {
		"activities": [
			{
				"name": "Copy Salesforce object",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set brpExtractTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceV2Source",
						"SOQLQuery": "Select   @{pipeline().parameters.ColumnList}  \nFROM @{pipeline().parameters.SourceTableName}\nwhere  LastModifiedDate >= @{variables('brpExtractFrom')} AND\nLastModifiedDate <= @{variables('brpExtractTo')}",
						"includeDeletedObjects": false
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "id"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RecordTypeId",
									"type": "String",
									"physicalType": "reference"
								},
								"sink": {
									"name": "RecordTypeId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CreatedById",
									"type": "String",
									"physicalType": "reference"
								},
								"sink": {
									"name": "CreatedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastModifiedById",
									"type": "String",
									"physicalType": "reference"
								},
								"sink": {
									"name": "LastModifiedById",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "Assessment__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "DoYouHaveARegisteredBusiness__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmploymentOccupationEndDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "EmploymentOccupationOngoing__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmploymentOccupationStartDate__c",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "ExperienceAccepted__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ExperienceComments__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ExperienceStatus__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "HoursWorkedPerWeek__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							},
							{
								"sink": {
									"name": "LocationOfEmploymentOccupation__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "NatureOfWorkExperience__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "PositionOccupationOrRoleTitle__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "CountableExperienceDays__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"sink": {
									"name": "CountableExperienceMonths__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"sink": {
									"name": "CountableExperienceYears__c",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"sink": {
									"name": "CountableExperience__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ReasonExperienceNotAccepted__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "TotalExperience__c",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SalesforceMSANew",
						"type": "DatasetReference",
						"parameters": {
							"sourcetable": "Experience__c"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": "salesforcenew"
						}
					}
				]
			},
			{
				"name": "Set  brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HWM  SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@if(equals(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark,null),variables('brpExtractTo') ,\n    formatDateTime(activity('GET TGT HWM  SQL').output.firstRow.HighWaterMark, 'yyyy-MM-ddTHH:mm:ss.fffZ'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET TGT HWM  SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(LastModifiedDate) AS HighWaterMark\nFROM \n@{concat(pipeline().parameters.schemaname,'.',pipeline().parameters.TargetTableName)}\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTableQ",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.TargetTableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "GET SRC HighWaterMark",
				"description": "Find the latest change in the Salesforce table indicated by the parameter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set  brpExtractFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceV2Source",
						"SOQLQuery": "\nSELECT LastModifiedDate\nFROM @{pipeline().parameters.SourceTableName}\nwhere LastModifiedDate >= @{variables('brpExtractFrom')}\norder by LastModifiedDate desc \nlimit 1",
						"includeDeletedObjects": false
					},
					"dataset": {
						"referenceName": "SalesforceMSANew",
						"type": "DatasetReference",
						"parameters": {
							"sourcetable": "assessment__c"
						}
					}
				}
			},
			{
				"name": "Set brpExtractTo",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET SRC HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractTo",
					"value": {
						"value": "@formatDateTime(activity('GET SRC HighWaterMark').output.firstRow.LastModifiedDate, 'yyyy-MM-ddTHH:mm:ss.fffZ')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceTableName": {
				"type": "string",
				"defaultValue": "Experience__c"
			},
			"TargetTableName": {
				"type": "string",
				"defaultValue": "Experience__c"
			},
			"ColumnList": {
				"type": "string",
				"defaultValue": "Id, IsDeleted, Name, RecordTypeId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, Assessment__c, DoYouHaveARegisteredBusiness__c, EmploymentOccupationEndDate__c, EmploymentOccupationOngoing__c, EmploymentOccupationStartDate__c, ExperienceAccepted__c, ExperienceComments__c, ExperienceStatus__c, HoursWorkedPerWeek__c, LocationOfEmploymentOccupation__c, NatureOfWorkExperience__c, PositionOccupationOrRoleTitle__c, CountableExperienceDays__c, CountableExperienceMonths__c, CountableExperienceYears__c, CountableExperience__c, ReasonExperienceNotAccepted__c, TotalExperience__c"
			},
			"schemaname": {
				"type": "string",
				"defaultValue": "salesforcenew"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			},
			"brpExtractTo": {
				"type": "String",
				"defaultValue": "1900-12-31 00:00:00"
			}
		},
		"folder": {
			"name": "ACS/Salesforce New MSA"
		},
		"annotations": []
	}
}