pipeline/StartDatabricksCluster.json
{
	"name": "StartDatabricksCluster",
	"properties": {
		"activities": [
			{
				"name": "StartCluster",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetAccessTokenFromKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.dvrDatabricksWorkspaceURL}api/2.0/clusters/start",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('GetAccessTokenFromKV').output.value}",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n  \"cluster_id\": \"@{pipeline().parameters.clusterId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetAccessTokenFromKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.dvrKeyVaultDNSName}.vault.azure.net/secrets/LS-Databricks-AccessToken/@{pipeline().globalParameters.dvrDatabricksAccessToken_KvSecretVersion}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "https://vault.azure.net",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Ignore error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartCluster",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@activity('StartCluster').error.message",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"clusterId": {
				"type": "string"
			}
		},
		"variables": {
			"output": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DVR Product Dashboard/99 Admin"
		},
		"annotations": []
	}
}