pipeline/StartDatabricksCluster.json
{
	"name": "StartDatabricksCluster",
	"properties": {
		"activities": [
			{
				"name": "StartCluster",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://adb-788505602918573.13.azuredatabricks.net/api/2.0/clusters/start",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer dapiae199d2cfc48215b4a5031740793f3c5",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n  \"cluster_id\": \"@{pipeline().parameters.clusterId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ignore error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "StartCluster",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@activity('StartCluster').error.message",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"clusterId": {
				"type": "string",
				"defaultValue": "1010-010936-bskqk28r"
			}
		},
		"variables": {
			"output": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DVR Product Dashboard/99 Admin"
		},
		"annotations": []
	}
}