pipeline/TestGround.json
{
	"name": "TestGround",
	"properties": {
		"activities": [
			{
				"name": "GET TGT HighWaterMark",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/ACSIngest/nb_rawdvr_getHighWaterMark",
					"baseParameters": {
						"tableName": {
							"value": "msa.@{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"defaultHWM": "1970-01-01 00:00:00.000"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricksProd",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set brpExtractFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET TGT HighWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": {
						"value": "@if(\n  less(\n    pipeline().parameters.RerunFromDate\n  , formatDateTime(replace(activity('GET TGT HighWaterMark').output.runOutput,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')\n  )\n  , pipeline().parameters.RerunFromDate\n  , formatDateTime(replace(activity('GET TGT HighWaterMark').output.runOutput,' ','T'), 'yyyy-MM-dd HH:mm:ss.fff')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set brpExtractEOY",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "brpExtractFrom",
					"value": "[object Object]"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set brpExtractFrom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "assessment"
			}
		},
		"variables": {
			"brpExtractFrom": {
				"type": "String"
			},
			"brpExtractFromEOY": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DVR Product Dashboard/98 Common"
		},
		"annotations": []
	}
}