acs-as-poc-df01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "acs-as-poc-df01"
		},
		"ACS Databricks Premium_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ACS Databricks Premium'"
		},
		"ACSSFPROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ACSSFPROD'"
		},
		"ACSSFPROD_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'ACSSFPROD'"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"AzureDatabricksPremium_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksPremium'"
		},
		"AzureMember_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureMember_ls'"
		},
		"Canvas REST_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Canvas REST'"
		},
		"Datafeeds_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Datafeeds'"
		},
		"LSSQLPOC_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LSSQLPOC'"
		},
		"Ls_ACSDatabricksDeltaLake_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Ls_ACSDatabricksDeltaLake'"
		},
		"Ls_AzurePOCDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Ls_AzurePOCDatabricks'"
		},
		"SalesforceACSProd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SalesforceACSProd'"
		},
		"SalesforceACSProd_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'SalesforceACSProd'"
		},
		"dewr_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'dewr_ls'"
		},
		"ls_DataLake_DPP_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_DataLake_DPP'"
		},
		"ls_SQL_membership_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_SQL_membership'"
		},
		"ACS Databricks Premium_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1010-010936-bskqk28r"
		},
		"ACSSFPROD_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://acsau.my.salesforce.com/"
		},
		"ACSSFPROD_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "prashant.yadvendra@acs.org.au"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacsdpp01.dfs.core.windows.net/"
		},
		"Canvas REST_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://acslearn.instructure.com"
		},
		"Canvas REST_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "prashant.yadvendra"
		},
		"GoogleRestAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://serpapi.com/search.json?engine=google_maps_reviews&data_id=0x6ad642ea3beac025:0xed69f6a75b142c6d&api_key=9641d55c404951eab2dcbe36a8c4e5577593a583f44d570f889d8fd1add13ddc"
		},
		"LS_AZKV_DVR_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://s-ause-kv-covid19dvr.vault.azure.net"
		},
		"Ls_AzurePOCDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0323-061008-xwb0cb1p"
		},
		"SalesforceACSProd_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://acsau.my.salesforce.com/"
		},
		"SalesforceACSProd_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "prashant.yadvendra@acs.org.au"
		},
		"dewr_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacspoc01.dfs.core.windows.net/"
		},
		"ls_DataLake_DPP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacsdpp01.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/StartDatabricksCluster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StartCluster",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "Bearer dapiae199d2cfc48215b4a5031740793f3c5",
									"type": "Expression"
								}
							},
							"url": {
								"value": "https://adb-788505602918573.13.azuredatabricks.net/api/2.0/clusters/start",
								"type": "Expression"
							},
							"body": {
								"value": "{\n  \"cluster_id\": \"@{pipeline().parameters.clusterId}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Ignore error",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "StartCluster",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "error",
							"value": {
								"value": "@activity('StartCluster').error.message",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"clusterId": {
						"type": "string",
						"defaultValue": "1010-010936-bskqk28r"
					}
				},
				"variables": {
					"output": {
						"type": "String"
					},
					"error": {
						"type": "String"
					}
				},
				"folder": {
					"name": "ACS/MSA Forecasting"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACS Databricks Premium')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-788505602918573.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ACS Databricks Premium_accessToken')]"
					},
					"existingClusterId": "[parameters('ACS Databricks Premium_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACSSFPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('ACSSFPROD_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('ACSSFPROD_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ACSSFPROD_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('ACSSFPROD_securityToken')]"
					},
					"apiVersion": "51.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksPremium')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-788505602918573.13.azuredatabricks.net",
					"clusterId": "0524-225117-lltght03",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksPremium_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMember_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connects to Member Database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureMember_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Canvas REST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Canvas REST_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Canvas REST_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Canvas REST_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Datafeeds')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Datafeeds_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleRestAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('GoogleRestAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSSQLPOC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LSSQLPOC_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZKV_DVR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_AZKV_DVR_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_ACSDatabricksDeltaLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to Premium Databricks ",
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-788505602918573.13.azuredatabricks.net",
					"clusterId": "1010-010936-bskqk28r",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Ls_ACSDatabricksDeltaLake_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_AzurePOCDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7757545527689401.1.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Ls_AzurePOCDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('Ls_AzurePOCDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceACSProd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "[parameters('SalesforceACSProd_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('SalesforceACSProd_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SalesforceACSProd_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('SalesforceACSProd_securityToken')]"
					},
					"apiVersion": "54.0"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dewr_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('dewr_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('dewr_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DataLake_DPP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "new data lake for Prod",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_DataLake_DPP_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_DataLake_DPP_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQL_membership')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_SQL_membership_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureVM-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACSDSSF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ACSSFPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"object1": {
						"type": "string",
						"defaultValue": "account"
					},
					"object2": {
						"type": "string",
						"defaultValue": "assessment"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "user"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ACSSFPROD')]"
			]
		}
	]
}